@keyframes Rotation {
    90% {
        transform: none;
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes Areia-caindo {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes Areia-enchimento {
    0% {
        transform: translate(-50%, 120px);
    }

    100% {
        border-radius: 50% 50% 0 0;
        transform: translate(-50%);
    }
}

@keyframes Fade-drip {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes drip {
    0% {
        transform: translateY(-180px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes stayInTheMiddle {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 1;
        transform: translateX(0); 
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
    }
}

@keyframes slideOutToRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100vw);
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOutToLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100vw);
    }
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes slideIn {
    from {
        transform: scale(0.9) translateY(20px);
        opacity: 0;
    }

    to {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}
